selenium
trafilatura
requests
numpy
sqlalchemy>=1.4.0
psycopg2-binary
pgvector - https://github.com/pgvector/pgvector?tab=readme-ov-file
python-dotenv
langchain
openai
transformers
torch
beautifulsoup4